@font-face {
	font-family: "SF-Pro-Display-Black";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Black.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-BlackItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-BlackItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Bold";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Bold.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-BoldItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-BoldItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Heavy";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Heavy.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-HeavyItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-HeavyItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Light";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Light.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-LightItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-LightItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Medium";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Medium.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-MediumItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-MediumItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Regular";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Regular.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-RegularItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-RegularItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Semibold";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Semibold.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-SemiboldItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-SemiboldItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Thin";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Thin.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-ThinItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-ThinItalic.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-Ultralight";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-Ultralight.otf) format("opentype");
}
@font-face {
	font-family: "SF-Pro-Display-UltralightItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Display/SF-Pro-Display-UltralightItalic.otf) format("opentype");
}
@font-face {
	font-family: "SFProText-Bold";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-BoldItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-BoldItalic.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-Heavy";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-Heavy.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-HeavyItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-HeavyItalic.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-Light";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-Light.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-LightItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-LightItalic.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-Medium";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-Medium.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-MediumItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-MediumItalic.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-Regular";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-RegularItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-RegularItalic.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-Semibold";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-Semibold.ttf) format("truetype");
}
@font-face {
	font-family: "SFProText-SemiboldItalic";
	font-style: normal;
	font-weight: normal;
	src: url(SF_Pro_Text/SFProText-SemiboldItalic.ttf) format("truetype");
}
